{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<div class="col-sm-12">
    <p class="welcome">About us</p>
    <div class="about-section paddingTB60 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <div class="about-title clearfix">
                        <h1>We Write <span>for Geeks</span></h1>
                        <h3>Publishing the blog on latest technologies </h3>
                        <p class="about-paddingB">We are happy to share this that we are launching this
                            service to share the knowledge among you, so that we can connect easily and
                            develop a great community! </p>
                        <p>Looking forward to hear from you! :)</p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript  -->
<!-- jQuery first, then Popper.js, then Bootstrap JS  -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
{% endblock %}