{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="col-sm-12">
    <p class="contact-header" style=" text-align: center;">Contact Us</p>
</div>
<div class="col-sm-12 form-style">
    <div class="container">
        <div class="card">
            <div class="card-header">
                Send a Message
            </div>
            <div class="card-block">
                <form role="form" action='/contact' method='post'>
                    {% csrf_token %}
                    <div class="form-group col-lg-4">
                        <label class="form-control-label" for="form-group-input">Name</label>
                        <input type="text" class="form-control" id="form-group-input" name="name">
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="form-control-label" for="form-group-input">Email</label>
                        <input type="text" class="form-control" id="form-group-input" name="email">
                    </div>
                    <div class="form-group col-lg-12">
                        <label class="form-control-label" for="form-group-input">Notes</label>
                        <textarea class="form-control" id="form-group-input" name="notes" rows="6"></textarea>
                    </div>
                    <button type="sumbit" class="btn btn-dark">Sumbit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="col-md-3 offset-md-4">
    <br>
    <br>
    <br>
    <p class="contact-header" style="text-align: center;">Please Login to contact us!</p>
    <button type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#Sign-up">
        <p class="contact-header" style=" text-align: center;">Click here for register!</p>
    </button>
</div>
{% endif %}
</div>
</div>

<!-- Sign-up Modal -->
<div class="modal fade" id="Sign-up" tabindex="-1" role="dialog" aria-labelledby="Sign-up" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Sign-up">Sign-up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method='post' action='/signup'>
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">User Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="username"
                            placeholder="Name">

                        <label for="exampleFormControlInput1">First Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="fname"
                            placeholder="Name">

                        <label for="exampleFormControlInput1">Last Name</label>

                        <input type="text" class="form-control" id="exampleFormControlInput1" name="lname"
                            placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email Address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" name="email"
                            placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Chosse a Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1" name="pass1"
                            placeholder="Password">
                    </div>
                    <label for="exampleFormControlInput1">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" name="pass2"
                        placeholder="Confirm Password">
                </div>
                <button type="sumbit" class="btn btn-dark">Sumbit</button>
        </div>
        </form>
    </div>
</div>
</div>
</div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Login">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method='post' action='/userlogin'>
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">UserName</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="logname"
                            placeholder="Name">
                    </div>
                    <label for="exampleFormControlInput1">Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" name="logpass"
                        placeholder="Password">
                </div>
                <button type="sumbit" class="btn btn-dark">Sumbit</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
{% endblock %}
